* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: rgb(255, 177, 177);
   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
    padding: 1rem;
    background-color: rgb(247, 124, 142);
}
header h1{
    font-family: "DynaPuff", system-ui;
    color:rgb(94, 9, 37);
    text-shadow: 1px 1px 1px black;
  
}
.loggedIn{
    height:3rem;
    background-color: rgb(250, 181, 90);
    box-shadow: 1px 1px 2px rgb(141, 141, 141);
}
.loggedIn h3{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

button {
   box-shadow: 1px 1px 2px black;
   padding: 0.3rem;
   border-radius: 5px;
   border: 0px;
   color:rgb(94, 9, 37);
}
.logOut{
    background-color: rgb(187, 87, 87);
}
button:hover{
    transform: translateY(-5%);
    cursor: pointer;
}
main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hidden{
    display: none;
}

/*Inloggningsfältet*/
.loginField {

background-color: #f19f82;
}
.inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    width:15rem;
    height: 15rem;
    border-radius:10px;
    box-shadow: 1px 1px 4px rgb(145, 145, 145);
}
.loginField.hidden{
    display:none;
}
.loginButton {
    width:13rem;
    height:1.5rem;
    background-color: rgb(78, 23, 23);
    color: white;
}
.loginField input{
    width:13rem;
}
.newUser{
    font-size: 0.6rem;
}

.cantLogin{
    text-align: center;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*Lägg till användare*/
.addNewUserField{
   background-color: rgb(147, 182, 214);
}
.addNewUserField.hidden{
    display: none;
}

.addNewUserField button{
    background-color: rgb(78, 23, 23);
    color: white;
}
.checkUsernameBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.checkUsernameBox.hidden{
    display: none;
}

.message{
font-size: 0.6rem;
font-family: Arial, Helvetica, sans-serif;
color:rgb(187, 10, 10);
}
.occupiedUsername.hidden{
    display: none;
}

.addPasswordField{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.addPasswordField.hidden{
    display: none;
}

.newAccountAdded {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    transition: ease-in;
    transition-duration: 2s;
}
input {
width: 13rem;
padding: 0.3rem;
border-radius: 3px;
border: 0px;
}



