* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100vw;
    padding: 2rem;
    background-color: rgb(255, 107, 176);
    
    

}
main {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}

#login-field {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
#login-field.hidden{
    display:none;
}

#addUser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(214, 29, 103, 0.336);
    height: 15rem;
}
#addUser.hidden{
    display: none;
}

#addUser input{
    padding:2px 7px 2px 7px;
    margin: 1rem;
}

.hidden{
    display: none;
}
