* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100vw;
    padding: 2rem;
    background-color: rgb(247, 158, 172);
}
main {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.hidden{
    display: none;
}

/*Inloggningsfältet*/
.loginField {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    width:15rem;
    height: 15rem;
    background-color: rgba(253, 241, 127, 0.74);
    border-radius:10px;
}
.loginField.hidden{
    display:none;
}
.loginButton {
    width:13rem;
    height:1.5rem;
}
.loginField input{
    width:13rem;
}
#newUser{
    font-size: 0.6rem;
}
button:hover{
    cursor: pointer;
}
.cantLogin{
    text-align: center;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*Lägg till användare*/
.addNewUserField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: rgba(214, 29, 103, 0.336);
    height: 15rem;
    width: 15rem;
    border-radius:10px;
    gap: 1rem;
}
.addNewUserField.hidden{
    display: none;
}

.addNewUserField input{
    width: 13rem;
}
.addNewUserField button{
    width: 13rem;
    height: 1.5rem;
}
.checkUsernameBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.checkUsernameBox.hidden{
    display: none;
}

.addNewUserField p{
font-size: 0.7rem;
font-family: Arial, Helvetica, sans-serif;
}
.occupiedUsername.hidden{
    display: none;
}

.addPasswordField{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.addPasswordField.hidden{
    display: none;
}

.newAccountAdded {
    text-align: center;
}

.loggedIn h3{
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}


