* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100vw;
    padding: 2rem;
    background-color: rgb(255, 107, 176);
    position: fixed;
}
main {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#login-field {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
#login-field.hidden{
    display:none;
}

